parallel2/.cproject
parallel2/.project
parallel2/.settings/
*.o
pq_test
testes.txt
yael_needs
ivfpq_test
makefile.inc
sift*
parallel2/vgcore.6077
parallel2/.idea
parallel2/cmake*
parallel2/CMake*
siftsmall
log*
bin
vgcore*
ivf
